.search-home-wrapper {
  display: flex;
  .sidebar {
    width: 500px;
    flex-grow: 1;
    width: 100%;
  }

  .products-grid {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    .product-wrapper {
      flex-grow: 1;
      width: calc(33% - 20px);
      margin: 10px;
      background-color: white;
      border-radius: 4px;
      overflow: hidden;

      @media (max-width: 768px) {
        width: calc(50% - 20px);
        margin: 10px;
      }

      @media (max-width: 480px) {
        width: calc(100% - 20px);
        margin: 10px;
      }
    }
  }
}
