.product-container {
  border-radius: 4px;
  background-color: white;
  height: 320px;
  width: 220px;
  margin: 0 auto;
  &:hover {
    cursor: pointer;
    transform: scale(1.025);
    transition: 0.3s ease-out;
  }
  .image-container {
    background-position: center;
    background-size: cover;
    height: 220px;
    width: 220px;
    border-bottom: 1px solid #a7a7a780;
  }
  .product-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    .product-price {
      font-size: 1.3em;
      margin: 1rem 0;
    }
    .product-name {
      font-size: 0.85em;
      line-height: 1.3em;
    }
  }
}
