.product-container {
  border-radius: 4px;
  background-color: white;
  height: 320px;
  width: 220px;
  padding: 0.5rem;
  margin: 0 auto;

  .image-container {
    .product-image {
      object-fit: cover;
      max-height: 220px;
      max-width: 220px;
      border-bottom: 1px solid #f1f1f180;
    }
  }
  .product-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    .product-price {
      font-size: 1.3em;
      margin: 1rem 0;
    }
    .product-name {
      font-size: 0.85em;
      line-height: 1.3em;
    }
  }
}
