.products-wrapper {
  display: flex;
  margin-top: 1.5rem;
  background-color: red;
  div.slick-slider.slick-initialized div.slick-list {
    margin-right: 1rem;
    height: 200px;
    width: 1000px;
    background-color: green;
  }
  .product-wrapper {
    background-color: white;
    margin: 0.5rem;
    border-radius: 2px;
    box-shadow: 3px 5px 10px #a7a5a53f;
    &:hover {
      cursor: pointer;
      transform: scale(1.025);
      transition: 0.2s ease-in-out;
      box-shadow: 3px 5px 10px #7573734f;
      &.active {
        .product-name {
          opacity: 1;
          visibility: visible;
          transition: 0.2s ease-in-out;
        }
      }
    }
    .image-container {
      padding: 1rem;
      border-bottom: 1px solid #ebebeb;
      .product-image {
        width: 200px;
        height: 200px;
        object-fit: cover;
        display: flex;
        justify-content: center;
      }
    }
    .product-description {
      display: flex;
      flex-direction: column;
      margin: 1rem;
      .product-price {
        display: inline-block;
        font-size: 1.3em;
      }
      .product-name {
        font-size: 0.85em;
        line-height: 1.3em;
        opacity: 0;
        visibility: hidden;
        margin-top: 0.5rem;
      }
    }
  }
}
