.carousel-container {
  margin-top: 2rem;
  overflow: hidden;
  .carousel-title {
    font-size: 1.5em;
    color: #666;
    display: inline-flex;
    padding-bottom: 1rem;
    margin-left: 1rem;
  }
}
